@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-color {
    background-color: #e23354;
}
/* .search:hover{
    background-color: #fff;
    cursor: pointer;
}
.search:hover>svg{
    color: #e23354;
} */
.disable-cursor{
    cursor: not-allowed;
}